
@model IEnumerable<WebApplication1.Models.Product>
@{
    Layout = null;
}
<html>
    <head>
        <meta name="Andrew Projects" content="wight=device-wight"/>
        <title>Andews Project</title>
    </head>
</html>
